#form {
width: 50%;
margin: auto;
margin-top: 2%;
padding: 5% 3% 1%;
border-style: solid;
border-radius: 5px;
border-color: #c8daea;
}

.btn {
background-color:#4078a5;
color: white;
}

h2 {
color: #4078a5;
}