<div class="container">
    <h2 class="text-center">Contact Us</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim dignissim enim ut vestibulum. Quisque at ante eget massa hendrerit eleifend. Sed ac velit aliquam, fringilla tellus et, euismod elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris eget sollicitudin ante, vitae porta diam. Aliquam congue efficitur nisl, at rutrum neque porta non. Maecenas cursus orci magna, quis pharetra purus dictum quis. Pellentesque sit amet est metus.</p>
    <div id="form">
        <form>
            <div class="form-group">
                <label for="name">NAME:</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="mail">EMAIL</label>
                <input type="email" class="form-control" id="mail" required>
            </div>
            <div class="form-group">
                <label for="msg">MESSAGE</label>
                <textarea class="form-control" rows="5" id="msg" required></textarea>
            </div>
            <button type="submit" class="btn btn-lg">Submit</button>
        </form>
    </div>
</div>